body {
  /* text-align: center; */
  background-image: url("nature.jpg");
  font-family: Helvetica;
  background-color: #e9f7f9;
}

h2 {
  text-align: center;
  font-size: 35px;
  font-style: italic;
  color: red;

}

header {
  display: inline-block;
  position: fixed;
  z-index: 2;
  background-color: white;
  width: 100%;
  text-align: center;
  top: 0px;
  margin:0 auto;
  border: 1px solid;
}

h3 {
  font-size: 25px;
  text-align: center;
}

header h1, header img{
  color: green;
  display: inline;
  margin: auto 1em;
  font-size: 2.5em;
}

#front-end li {
  list-style: None;
  word-spacing: 2px;
  line-height: 2em;
  font-weight: bold;
  padding: 8px;
  color: white;
}

.read, .video {
  padding: 0px;
  margin: 0 auto;
  width: 20%
}

.video {
  background-color: #abd8ea;
  color: white;
}

.read {
  background-color: #eaabb0;
  color: white;
}

main {

  position: relative;
  top: 100px;

}

section {
  text-align: center;
  /* display: inline-block; */
  margin:auto auto;
}
